body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	height:100vh;
}

.header{
    display: block;
    margin: 0 auto;
    width: 1300px;
    height: 100px;
}

li{
    float: left;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li a{
    display: block;
    color: gray;
    text-align: center;
    padding-left: 80px;
    padding-top: 30px;
    text-decoration:none;
    font-family:'Open Sans';
}
li a:hover{
    color: black;
}
li .Logo{
    width: 300px;
    margin-left:160px;
}
li .Lupa{
    width: 30px;
    margin-left:60px;
    margin-top: 25px;
}
li .Buscar{
    margin-top:30px;
    margin-left: 10px;
}
.container{
    display: block;
    margin: 0 auto;
    width: 1300px;
    height: 600px;
}
.container .Ropa{
    margin-left: 0px;
}
/*---------------------------------------------------------*/
.container{
    position: relative;
    top: 20px;
    width: 50%;
    height:auto;
    background:none;
    margin: auto;
}

.container .list-image{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;

}

.container .list-image li{
    margin-right: 20px;
    margin-bottom:20px;
    list-style: none;

}

.container .list-image li .container__image{
    height: 300px;
    width: 250px;
    background:none;
    border-radius: 3px;

}



.container .list-image li .container__image img{
    position: relative;
    height: 250px;
    width: 250px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px ;

}

.container .list-image li .container__image .information__image {
    
    
}

 





