body{
    font-family: 'Open Sans';
}
.header{
    display: block;
    margin: 0 auto;
    width: 1250px;
    height: 100px;
}
li{
    float: left;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li a{
    display: block;
    color: gray;
    text-align: center;
    padding-left: 80px;
    padding-top: 30px;
    text-decoration:none;
    font-family:'Open Sans';
}
li a:hover{
    color: black;
}
li .Logo{
    width: 300px;
    margin-left:200px;
}
li .Lupa{
    width: 30px;
    margin-left:60px;
    margin-top: 25px;
}
li .Buscar{
    margin-top:30px;
    margin-left: 10px;
}

.container {
    display: block;
    width: 400px;
    height: 500px;
    margin: 20px auto;
}